doctype html
html
    head
        title Avi's DanceKeeda
        block scripts
        block style 
    body
        nav#navbar
            .logo
                img(src="../static/logo.png")
                h4 ADK
            ul
                li.item #[a(href='/') Home]
                li.item #[a(href='#missionSection') Services]
                li.item #[a(href='/classinfo') Class Info]
                li.item #[a(href='/contact') Contact Us]
        block content
        script
            include ../static/index.js