extends base.pug

block scripts
    script(src="/static/index.js")
block style
    style 
        include ../static/style.css
block content
    section#introSection
            div.image HOVER ME!!
            div.con
                h1 #[span Welcome] to Av_'s DanceKeeda!
                p.line The best academy to explore your dance.
                p.tag DANCE | EAT | SLEEP | REPEAT
            //- .video
            //-     video(width='400', height='400', controls='controls', autoplay='autoplay')
            //-         source(src='../static/video.mp4', type='video/mp4')
    section#missionSection
            h2 Our missions
            .cards
                div.card1 DANCE PERFECTION
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum ratione consectetur nostrum, vero, aperiam quo dolore, porro asperiores obcaecati unde ab neque nobis! Sed, eum vero beatae cum aut at obcaecati dolorum minus. Dignissimos vel beatae voluptatum consequuntur suscipit error laboriosam quod, eveniet voluptatibus est quibusdam perferendis at provident impedit nisi officiis? Quidem, temporibus quo. Nam quo consequuntur, reiciendis neque ad voluptates dignissimos sed suscipit soluta aut sunt dolorum cupiditate assumenda libero modi voluptatem illo quidem reprehenderit, necessitatibus culpa. Aspernatur ab facilis fugiat velit? Enim amet quia blanditiis quos error dicta id perferendis, veniam itaque repellat accusamus aliquid maiores maxime!
                div.card2 DANCE THE WAY YOU LIKE
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum ratione consectetur nostrum, vero, aperiam quo dolore, porro asperiores obcaecati unde ab neque nobis! Sed, eum vero beatae cum aut at obcaecati dolorum minus. Dignissimos vel beatae voluptatum consequuntur suscipit error laboriosam quod, eveniet voluptatibus est quibusdam perferendis at provident impedit nisi officiis? Quidem, temporibus quo. Nam quo consequuntur, reiciendis neque ad voluptates dignissimos sed suscipit soluta aut sunt dolorum cupiditate assumenda libero modi voluptatem illo quidem reprehenderit, necessitatibus culpa. Aspernatur ab facilis fugiat velit? Enim amet quia blanditiis quos error dicta id perferendis, veniam itaque repellat accusamus aliquid maiores maxime!
                div.card3 EXPERT TEACHING
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum ratione consectetur nostrum, vero, aperiam quo dolore, porro asperiores obcaecati unde ab neque nobis! Sed, eum vero beatae cum aut at obcaecati dolorum minus. Dignissimos vel beatae voluptatum consequuntur suscipit error laboriosam quod, eveniet voluptatibus est quibusdam perferendis at provident impedit nisi officiis? Quidem, temporibus quo. Nam quo consequuntur, reiciendis neque ad voluptates dignissimos sed suscipit soluta aut sunt dolorum cupiditate assumenda libero modi voluptatem illo quidem reprehenderit, necessitatibus culpa. Aspernatur ab facilis fugiat velit? Enim amet quia blanditiis quos error dicta id perferendis, veniam itaque repellat accusamus aliquid maiores maxime!
    //- section#sponserSection
    //-         h2 Our sponsers
    //-         .sponsers
    //-             img(src="../static/logo1.png")
    //-             img(src="../static/logo2.png")
    //-             img(src="../static/logo3.png")
    //-             img(src="../static/logo4.png")
    
    footer#footerSection
        div#footer © copyright 2020 | www.avidancekeeda.com | All rights reserved.
        h2 #[a(href='#introSection') Back to top!]