*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: none;
}
h1{
    text-align: center;
    margin: 20px;
}
#container{
    background: url('./static/contact.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 89.4vh;
}
.myform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.myinput{
    width: 30%;
    padding: 10px;
    margin: 8px;
}
.btn{
    font-size: 1.2rem;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    color: white;
    background-color: black;
}